* {
  box-sizing: border-box;
  margin: 0;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

body {
  background-color: rgba(198, 166, 117, 0.358);
}

.baggrund {
  max-width: 700px;
}

header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  box-shadow: 0px 12px 28px 0px #54535423;
  align-items: baseline;
  padding: 10px;
  background-color: rgba(250, 235, 215, 0.238);
}

nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: rgb(180, 105, 65);
}

a {
  color: rgb(173, 96, 68);
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}
a:hover {
  color: rgb(222, 147, 107);
  font-size: 20px;
  font-family: "UnifrakturMaguntia", cursive;
}

ul:hover {
  color: rgb(222, 147, 107);
  font-size: 20px;
  font-family: "UnifrakturMaguntia", cursive;
}

.text,
footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 50px;
  color: rgb(173, 96, 68);
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
}

/* Container holding the image and the text */

.container {
  text-align: center;
  color: white;
}

.container {
  display: grid;
  place-items: center;
}

.baggrund,
h2 {
  grid-area: 1 / 1;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  color: rgb(222, 147, 107);
  font-size: 40px;
}

iframe {
  width: 100%;
  height: auto;

  aspect-ratio: 16 / 9;

  margin-bottom: 30px;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

.diagram {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Centered text */
/*
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "UnifrakturMaguntia", cursive;
  color: rgb(222, 147, 107);
  font-size: 50px;
}

.top-center {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Josefin Sans", sans-serif;
  color: rgb(222, 147, 107);
  font-size: 40px;
}
*/

@media (max-width: 1050px) {
  .galleri {
    display: none;
  }
}

@media (min-width: 1050px) {
  .galleri {
    font-family: "UnifrakturMaguntia", cursive;
    color: rgb(222, 147, 107);
    margin-left: 180px;
    margin-right: 170px;
    font-size: 40px;
  }
}
